pkgbase = auroscope
	pkgdesc = LLM-first safety review wrapper around Paru and Pacman
	pkgver = 0.1.0.r8.gc338567
	pkgrel = 1
	url = https://git.2027a.net/2027a/auroscope
	arch = x86_64
	license = LicenseRef-Unspecified
	makedepends = gcc
	makedepends = go
	depends = git
	depends = glibc
	depends = paru
	conflicts = paru<=2.1.0
	source = auroscope-0.1.0.r8.gc338567.tar.gz::https://git.2027a.net/2027a/auroscope/archive/c338567590d0c35f2798cf822f95374dff51183e.tar.gz
	sha256sums = b02bcd53af1a936a928a0abb1e240e36546885132a71c219f7d7cbc55d5739f3

pkgname = auroscope
