pkgbase = auroscope
	pkgdesc = LLM-first safety review wrapper around Paru and Pacman
	pkgver = 0.1.0.r17.g7e224db
	pkgrel = 1
	url = https://git.2027a.net/2027a/auroscope
	arch = x86_64
	license = LicenseRef-Unspecified
	makedepends = gcc
	makedepends = go
	depends = git
	depends = glibc
	depends = paru
	conflicts = paru<=2.1.0
	source = auroscope-0.1.0.r17.g7e224db.tar.gz::https://git.2027a.net/2027a/auroscope/archive/7e224dbbe76247720a20bcf7b3ef32bed209687e.tar.gz
	sha256sums = 73103dd11d34e638b43d634d7be7958c0b762c113faaaf19d32c4d3c2851d8df

pkgname = auroscope
