pkgbase = auroscope
	pkgdesc = LLM-first safety review wrapper around Paru and Pacman
	pkgver = 0.1.0.r22.gb630719
	pkgrel = 1
	url = https://git.2027a.net/2027a/auroscope
	arch = x86_64
	license = LicenseRef-Unspecified
	makedepends = gcc
	makedepends = go
	depends = git
	depends = glibc
	depends = paru
	conflicts = paru<=2.1.0
	source = auroscope-0.1.0.r22.gb630719.tar.gz::https://git.2027a.net/2027a/auroscope/archive/b630719c9c180fb61135b8e69a58a6e249c4f8fd.tar.gz
	sha256sums = 40682ff9cec4b481f8f87cadc99d3948602b3ca76c8711f42e3035e176ded4e6

pkgname = auroscope
